body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

html{
    scroll-behavior: smooth;
}

#menu{
    width: 100%;
    height: 100px;
    background-color: #363435;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

#menuVariable{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuVariable.active{
    display: flex;
    height: 100vh;
    visibility: visible;
    color: tomato;
}

.class_menu{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.class_menu:hover{
    color: #9198a1;
}

#menu_div{
    background-color: #11D957;
    width: 100%;
    height: 5px;
    position: fixed;
    top: 100px;
    z-index: 100;
}

#btn-mobile{
    background: none;
    display: none;
    margin-right: 50px;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    gap: 10px;
}

#hamburger{
    width: 20px;
    border-top: 2px solid;
}

#hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: .3s;
    position: relative;
}

#hamburger.active{
    color: red;
    border-top-color: transparent;
}

#hamburger.active::after{
    transform: rotate(-135deg);
    top: -7px;
}

#hamburger.active::before{
    transform: rotate(135deg);
}

/* whatsapp  */
#whats{
    position: fixed;
    bottom: 55px;
    left: 10px;
    z-index: 1000;
}

#whatsImg{
    border-radius: 50%;
    width: 55px;
}


/* backgroud */
#backgroud{
width: 100%;
height: 750px;
background-image: url(./img/backgrand.jpg);
background-size: cover;
background-position: center;
}

#logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}


/* Service */
#service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#service_title{
    font-size: 50px;
    margin-top: 80px;
    color: #11D957;
}

#service_text{
    width: 700px;
    margin-top: 40px;
    font-size: 25px;
    color: #9198a1;
}

#service02{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 50px;
}

.contentServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 100px;
}

.service_style{
    width: 100%;
    height: 4px;
    background-color: #11D957;
}

.serviceImg{
    width: 600px;
}

.service02_title{
    font-size: 28px;
    margin-top: 30px;
}

.service02_text{
    padding: 20px;
    font-size: 18px;
    color: #9198a1;
}

#service03{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

#service03_title{
    font-size: 40px;
    width: 600px;
    color: #11D957;
}

#serviceImg03{
    border-radius: 50%;
    border-top: 5px solid #11D957;
    border-left: 5px solid #11D957;
}

.class_list{
    margin-top: 30px;
    font-size: 28px;
    color: #9198a1;
    list-style-image: url('./icon/checklist_icon.png');
}


/* Story */
#storyAnchorage{
    width: 100%;
    height: 50px;
}

#story{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#storyTitle{
    color: #11D957;
    font-size: 50px;
}

#storyText{
    margin-top: 30px;
    width: 800px;
    font-size: 25px;
}


/* Localização */
#divLocation{
    margin-top: 150px;
}

#location{
    width: 100%;
    height: 500px;
}


/* Contact */
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: white;
    height: 350px;
}

#contentContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #11D957;
    font-size: 50px;
    margin-left: 50px;
}

#contactLink{
    margin-top: 50px;
}

.contactIcon{
    margin-right: 15px;
}


/* Footer */
footer{
    background-color: #363435;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background-color: #11D957;
    border-radius: 50px;
}


/* Redimensionamento */
@media screen and (max-width: 1250px){
   
    /* Service */
    #service02{
        grid-column-gap: 30px;
    }
    
    .contentServices{
        width: 500px;       
    }
   
    .serviceImg{
        width: 500px;
    }
}

@media screen and (max-width: 1030px){
    
    /* Service */
    #service02{
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        grid-column-gap: 0px;
    }

    #serviceImg03{
        display: none;
    }

    /* Story */
    #storyText{
        width: 700px;
    }    
}


@media screen and (max-width: 768px){

    /* Menu */
    #menuVariable{
        display: flex;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 100px;
        background-color: #363435;
        flex-direction: column;
        transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
    }

    #btn-mobile{
        display: flex;
    }

    /* Service */
    #service_text{
        width: 500px;
    }

    #service03_title{
        width: 500px;
    }

    #storyText{
        width: 500px;
    }
}


@media screen and (max-width: 576px){

    /* Service */
    #service_title{
        font-size: 40px;
    }

    #service_text{
        width: 300px;
        font-size: 20px;
    }

    .contentServices{
        width: 300px;
        height: 450px;
    }

    .serviceImg{
        width: 300px;
    }

    #service03_title{
        font-size: 30px;
        width: 300px;
    }

    .class_list{
        font-size: 20px;
    }

    #storyTitle{
        font-size: 35px;
    }

    #storyText{
        width: 300px;
        font-size: 20px;
    }

    #contact{
       flex-direction: column;
       align-items: center;
       height: 450px;
    }

    #contentContact{
        font-size: 45px;
        margin-left: 0px;
    }

    #divfooter{
        font-size: 15px;
        width: 300px;
    }
} 
